#!/usr/bin/make -f

configure_flags = \
	--enable-layout=Debian \
	--sysconfdir=/etc/trafficserver --libdir=/usr/lib/trafficserver \
	--libexecdir=/usr/lib/trafficserver/modules \
        $(shell dpkg-buildflags --export=configure)


%:
	dh \$@


override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)
